*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.42; }

a {
  cursor: pointer; }

.clearfix {
  clear: both; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 41px;
  font-weight: bold; }

.wrapper {
  min-width: 1140px;
  height: 100%; }

.container {
  width: 1100px;
  margin: 0 auto; }

.sidebar {
  width: 180px;
  float: left; }

.content {
  width: 920px;
  float: right;
  padding-left: 20px; }

.content-text {
  width: 700px; }

.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.container {
  flex: 1 0 auto; }

.foot {
  flex: 0 0 auto; }

a {
  cursor: pointer; }

.banner {
  background: url(../img/banner.png) center center no-repeat;
  margin-top: 3px;
  width: 100%;
  height: 359px;
  background-color: #27273e; }

/*.container {
  margin: 0 auto;
  width: 1100px;
  height: 80px;
  
  //background-color: $color-dark-blue;
}

.content {
  min-height: calc(100vh - 70px);
}*/
.header {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  background-color: #27273e; }

.header-top {
  width: 1100px;
  height: 80px;
  margin: 0 auto; }
  .header-top__logo {
    margin: 12px 20px;
    float: left;
    width: 100px; }
  .header-top__work {
    float: right; }
    .header-top__work .header-top__phone {
      margin-right: 18px;
      height: 30px;
      text-transform: uppercase;
      line-height: 2.571;
      font-size: 21px;
      font-weight: bold; }
    .header-top__work .header-top__phone a {
      height: 30px;
      color: #fff;
      text-decoration: none; }
    .header-top__work .header-top__dropdown {
      margin: 10px 20px;
      float: right;
      font-size: 14px;
      font-family: "Open Sans";
      color: rgba(236, 30, 121, 0.702);
      font-weight: bold;
      text-decoration: underline; }
    .header-top__work .header-top__dropdown-content {
      display: none;
      color: #221f1f;
      font-weight: normal;
      border-radius: 5px;
      position: absolute;
      right: 10px;
      margin-top: 10px;
      padding: 5px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(236, 30, 121, 0.702);
      padding: 12px 16px;
      z-index: 1; }
    .header-top__work .header-top__dropdown-content span {
      display: block;
      color: rgba(236, 30, 121, 0.702);
      font-weight: bold; }
    .header-top__work .header-top__dropdown:hover .header-top__dropdown-content {
      display: block; }

.price {
  font-family: "Montserrat", sans-serif;
  margin-top: 41px;
  float: left;
  width: 100%;
  margin-top: -168px;
  float: right;
  width: calc(1100px - 172px); }
  .price__title {
    margin-left: 24px;
    margin-bottom: 30px;
    margin-top: -11px;
    font-size: 49px;
    color: #221f1f;
    font-weight: bold; }
  .price__item {
    text-align: center;
    padding-bottom: 63px;
    margin-top: 13px;
    margin-left: -2px;
    float: left;
    width: calc((100% - 5px) / 3);
    position: relative; }
  .price__span {
    position: absolute;
    text-transform: uppercase;
    top: 46px;
    left: 154px;
    transform: translate(-51%, -53%);
    font-size: 24px;
    color: #5dd1f8;
    font-weight: bold;
    line-height: 0.875;
    text-align: center;
    z-index: 5; }
    .price__span:hover {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 3s; }
  .price__picter_one {
    position: absolute;
    border-radius: 3px;
    background-color: #27273e;
    opacity: 0.861; }
    .price__picter_one:hover {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 3s; }
  .price__picter_two {
    position: absolute;
    left: 31px;
    top: -28px;
    border-radius: 3px;
    background-color: #27273e;
    opacity: 0.861; }
    .price__picter_two:hover {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 3s; }
  .price__picters {
    display: block;
    margin-top: -29px;
    margin-left: 31px; }
  .price__item-h3 {
    margin-top: 23px;
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #221f1f;
    line-height: 1.167;
    text-align: center; }
  .price__parag {
    margin: 10px 33px;
    width: 220px;
    font-size: 14px;
    color: #221f1f;
    line-height: 1.167;
    text-align: center; }

.aside {
  font-family: "Montserrat", sans-serif;
  width: 160px;
  margin-bottom: 83px; }
  .aside__list {
    position: relative;
    margin: 25px;
    width: 160px; }
  .aside__ul_list {
    padding-top: 13px;
    padding-left: 10px;
    width: 160px; }
  .aside img {
    color: #ed2f83;
    width: 20px;
    height: 20px; }
  .aside img:hover {
    color: black; }
  .aside__img {
    position: relative;
    top: 4px;
    left: -16px; }
    .aside__img:hover {
      color: black; }
  .aside__anchor {
    text-transform: uppercase;
    color: #ed2f83;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif; }
    .aside__anchor:hover {
      color: black; }

.features {
  font-family: "Montserrat", sans-serif;
  margin-top: 41px;
  margin-left: 6px;
  float: left;
  width: 100%; }
  .features__title {
    font-size: 49px;
    font-weight: bold;
    position: relative;
    letter-spacing: -1px;
    top: -216px;
    left: 196px; }
  .features__section {
    float: left;
    margin-left: 197px;
    margin-top: -172px;
    display: flex; }
  .features__item {
    width: 260px;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    padding: 7px; }
    .features__item:hover {
      box-shadow: 1px 10px 40px 0px #b3adb3; }
  .features__item-img {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 50%;
    background-color: #27273e; }
    .features__item-img:hover {
      background-color: #ed2f83; }
  .features__item-img1 {
    margin-left: -11px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 50%;
    background-color: #27273e; }
    .features__item-img1:hover {
      background-color: #ed2f83; }
  .features__item-h3 {
    margin-left: -16px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 12px;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center; }
  .features__item-p {
    top: -15px;
    font-size: 18px;
    letter-spacing: -0.5px;
    margin-left: 15px;
    margin-top: 17px;
    width: 210px;
    color: #221f1f;
    line-height: 1.667;
    text-align: center; }
  .features__item-li {
    margin-top: 5px;
    margin-left: 51px;
    width: 150px;
    font-size: 18px;
    color: #ed2f83;
    line-height: 1.667;
    text-align: center;
    list-style-type: circle; }
  .features__item-li span {
    color: #221f1f; }

.news {
  float: left;
  overflow: hidden;
  margin-top: 40px; }
  .news__title {
    font-family: "Montserrat", sans-serif;
    width: 95%;
    margin-top: 5%;
    margin-left: -6%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 49px;
    color: #221f1f;
    font-weight: bold;
    line-height: 0.776; }
  .news .news-section {
    width: 900px;
    height: 219px;
    padding-left: 194px;
    float: left;
    font-family: "Roboto", sans-serif; }
  .news .news-section__pic {
    margin-top: -51px;
    bottom: 70px;
    float: left;
    border-radius: 50%; }
  .news .news-section__date {
    padding-bottom: 2px;
    padding-top: 36px;
    position: relative;
    bottom: 200px;
    left: 180px;
    font-size: 14px;
    color: #656464;
    line-height: 1.5;
    text-align: left; }
  .news .news-section__title-article {
    padding-bottom: 5px;
    position: relative;
    bottom: 200px;
    left: 179px;
    float: left;
    width: 400px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    text-align: left; }
  .news .news-section__some-article {
    font-size: 18px;
    width: 700px;
    position: relative;
    bottom: 200px;
    left: 180px;
    font-weight: 100;
    padding-bottom: 15px;
    border-bottom: 2px solid #f5f5f5;
    line-height: 1.5; }

.foot {
  font-family: "Montserrat", sans-serif;
  margin-top: -30px;
  width: 100vw;
  height: 100px;
  background-color: #27273e;
  background-size: cover; }
  .foot__make_in_love {
    letter-spacing: 1px;
    font-size: 13px;
    color: white;
    line-height: 1.286;
    float: left;
    margin: 10px 20px;
    color: white;
    width: 300px; }
  .foot__make_in_love a {
    color: white;
    font-weight: bold; }
    .foot__make_in_love a:hover {
      color: #ed2f83; }
  .foot__logo {
    width: 120px;
    height: 60px;
    padding: 20px;
    margin: 0 auto; }
  .foot__soc {
    position: relative;
    top: -44px;
    float: right;
    color: white; }
  .foot__p {
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    position: relative;
    left: 10px; }
  .foot__li {
    display: inline-block;
    margin: 0 4px; }
  .foot__img {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #d4d4d8;
    padding: 3px;
    border-radius: 50%; }
    .foot__img:hover {
      background-color: #ed2f83; }

.pagination {
  display: inline-block;
  font-family: "Roboto";
  width: 340px;
  margin: 50px 0 76px 376px; }
  .pagination__parag {
    margin-left: 95px;
    font-size: 14px;
    font-family: "Roboto";
    color: #656464;
    line-height: 1.5;
    text-align: left; }
  .pagination__li {
    position: relative;
    bottom: 20px;
    left: 218px;
    display: inline-block; }
  .pagination__li a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 14px;
    font-family: "Roboto";
    color: #221f1f;
    font-weight: bold;
    line-height: 1.5;
    text-align: center; }
    .pagination__li a:hover {
      color: white;
      padding: 5px;
      background-color: #27273e; }

.breadcrumbs a {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: inline-block;
  top: -200px;
  left: 200px;
  width: 70px;
  float: left;
  font-size: 14px;
  color: rgba(236, 30, 121, 0.8);
  font-style: italic;
  text-decoration: underline;
  line-height: 1.286; }

.breadcrumbs__price a {
  color: black; }

.partners {
  font-family: "Montserrat", sans-serif;
  float: right;
  width: calc(1100px - 172px); }
  .partners__head {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 42px;
    margin-left: 25px;
    margin-top: -7px; }
  .partners__item {
    text-align: center;
    margin-left: -39px;
    padding-bottom: 50px;
    float: left;
    width: calc((100% - 5px) / 3);
    position: relative;
    opacity: 0.4;
    filter: alpha(opacity=50);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .partners__item:hover {
      opacity: 1;
      filter: grayscale(0); }
