*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.42; }

a {
  cursor: pointer; }

.clearfix {
  clear: both; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 41px;
  font-weight: bold; }

.wrapper {
  min-width: 1140px;
  height: 100%; }

.container {
  width: 1100px;
  margin: 0 auto; }

.sidebar {
  width: 180px;
  float: left; }

.content {
  width: 920px;
  float: right;
  padding-left: 20px; }

.content-text {
  width: 700px; }

.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.container {
  flex: 1 0 auto; }

.foot {
  flex: 0 0 auto; }

.zoomIn {
  transition-delay: 3s; }

a {
  cursor: pointer; }

.banner {
  background: url(../img/banner.png) center center no-repeat;
  margin-top: 3px;
  width: 100%;
  height: 359px;
  background-color: #27273e; }

/*.container {
  margin: 0 auto;
  width: 1100px;
  height: 80px;
  
  //background-color: $color-dark-blue;
}

.content {
  min-height: calc(100vh - 70px);
}*/
.header {
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  background-color: #27273e; }

.header-top {
  width: 1100px;
  height: 80px;
  margin: 0 auto; }
  .header-top__logo {
    margin: 12px 20px;
    float: left;
    width: 100px; }
  .header-top__work {
    float: right; }
    .header-top__work .header-top__phone {
      margin-right: 18px;
      height: 30px;
      text-transform: uppercase;
      line-height: 2.571;
      font-size: 21px;
      font-weight: bold; }
    .header-top__work .header-top__phone a {
      height: 30px;
      color: #fff;
      text-decoration: none; }
    .header-top__work .header-top__dropdown {
      position: relative;
      margin: 10px 20px;
      float: right;
      font-size: 14px;
      font-family: "Open Sans";
      color: rgba(236, 30, 121, 0.702);
      font-weight: bold;
      text-decoration: underline; }
    .header-top__work .header-top__dropdown-content {
      position: absolute;
      display: none;
      color: #221f1f;
      font-weight: normal;
      border-radius: 5px;
      position: absolute;
      right: 10px;
      margin-top: 10px;
      padding: 5px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(236, 30, 121, 0.702);
      padding: 12px 16px;
      transition: 2s ease;
      z-index: 1; }
    .header-top__work .header-top__dropdown-content span {
      display: block;
      color: rgba(236, 30, 121, 0.702);
      font-weight: bold; }
    .header-top__work .header-top__dropdown:hover .header-top__dropdown-content {
      display: block; }

.price {
  font-family: "Montserrat", sans-serif;
  float: left;
  width: 100%;
  margin-top: -168px;
  float: right;
  width: calc(1100px - 172px); }
  .price__title {
    margin-left: 24px;
    margin-bottom: 30px;
    margin-top: -11px;
    font-size: 49px;
    color: #221f1f;
    font-weight: bold; }
  .price__item {
    text-align: center;
    padding-bottom: 63px;
    margin-top: 40px;
    margin-left: -2px;
    float: left;
    width: calc((100% - 5px) / 3);
    position: relative; }
  .price__span {
    width: 90%;
    position: absolute;
    text-transform: uppercase;
    top: 46px;
    left: 158px;
    transform: translate(-51%, -53%);
    font-size: 24px;
    color: #5dd1f8;
    font-weight: bold;
    line-height: 1.375;
    text-align: center;
    z-index: 5; }
    .price__span:hover {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 3s; }
  .price__vip {
    color: #ed2f83; }
  .price__picters {
    display: block;
    margin-top: -29px;
    margin-left: 31px;
    background: #38394d;
    transition: filter 2s ease;
    filter: blur(1px);
    opacity: 0.6; }
    .price__picters:hover {
      filter: none;
      opacity: 1; }

.demo--luminosity {
  background-color: steelblue;
  background-blend-mode: luminosity; }

.demo--trans:hover {
  background-blend-mode: normal; }

.price__item-h3 {
  margin-top: 23px;
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #221f1f;
  line-height: 1.167;
  text-align: center; }

.price__parag {
  margin: 10px 33px;
  width: 220px;
  font-size: 14px;
  color: #221f1f;
  line-height: 1.167;
  text-align: center; }

.change_color {
  margin-top: -153px;
  margin-left: 30px;
  border-radius: 5px;
  height: 153px;
  width: 250px;
  background: #37384c;
  opacity: 1; }
  .change_color:hover {
    opacity: 0; }

.aside {
  font-family: "Montserrat", sans-serif;
  width: 160px;
  margin-bottom: 86px; }
  .aside__list {
    position: relative;
    margin: 27px;
    width: 160px; }
  .aside__ul_list {
    padding-top: 13px;
    width: 160px; }
  .aside__img1 {
    float: left;
    width: 16px;
    height: 16px;
    padding-right: 16px; }
  .aside .icon-triangle {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-weight: bold; }
  .aside svg {
    color: #ed2f83; }
  .aside__img2 {
    float: left;
    width: 16px;
    height: 16px;
    padding-right: 16px; }
  .aside .icon-star {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-weight: bold; }
  .aside__img3 {
    float: left;
    width: 16px;
    height: 16px;
    padding-right: 16px; }
  .aside .icon-wallet {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    font-weight: bold; }
  .aside .icon-walletwallet {
    width: 1.1875em; }
  .aside__anchor {
    margin-left: 10px;
    text-transform: uppercase;
    color: #ed2f83;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    transition: color 2s ease; }
    .aside__anchor:hover {
      color: black; }
  .aside .visit:visited {
    color: black; }
  .aside svg:hover {
    color: #000; }
  .aside .aside__list:hover {
    color: #000; }

.features {
  font-family: "Montserrat", sans-serif;
  margin-top: 41px;
  margin-left: 6px;
  float: left;
  width: 100%; }
  .features__title {
    font-size: 49px;
    font-weight: bold;
    position: relative;
    letter-spacing: -1px;
    top: -216px;
    left: 196px; }
  .features__section {
    float: left;
    margin-left: 197px;
    margin-top: -172px;
    display: flex; }
  .features__item {
    width: 260px;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
    padding: 7px; }
    .features__item:hover {
      box-shadow: 1px 10px 40px 0px #b3adb3; }
  .features__item-img {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 50%;
    background-color: #27273e; }
    .features__item-img:hover {
      background-color: #ed2f83; }
  .features__item-img1 {
    margin-left: -11px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 50%;
    background-color: #27273e; }
    .features__item-img1:hover {
      background-color: #ed2f83; }
  .features__item-h3 {
    margin-left: -16px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 12px;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center; }
  .features__item-p {
    top: -15px;
    font-size: 18px;
    letter-spacing: -0.5px;
    margin-left: 15px;
    margin-top: 17px;
    width: 210px;
    color: #221f1f;
    line-height: 1.667;
    text-align: center; }
  .features__item-li {
    margin-top: 5px;
    margin-left: 51px;
    width: 150px;
    font-size: 18px;
    color: #ed2f83;
    line-height: 1.667;
    text-align: center;
    list-style-type: circle; }
  .features__item-li span {
    color: #221f1f; }

.news {
  font-family: "Montserrat", sans-serif;
  margin-top: 80px;
  width: 950px;
  float: right; }

.news__h1 {
  font-weight: bold;
  font-size: 49px;
  padding-bottom: 30px;
  margin-top: -20px; }

.news__item {
  margin-top: 50px;
  float: left;
  padding-bottom: 30px;
  border-bottom: 2px solid #f5f5f5; }
  .news__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5; }
  .news__item .news__img {
    padding-right: 20px;
    float: left;
    border-radius: 50%; }
  .news__item .news__img img {
    border-radius: 50%; }
  .news__item .explain {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
    font-size: 16px; }
    .news__item .explain__span {
      color: #656464; }
    .news__item .explain__h3 {
      font-weight: bold; }

.foot {
  font-family: "Montserrat", sans-serif;
  margin-top: -30px;
  width: 100%;
  height: 100px;
  background-color: #27273e;
  background-size: cover; }
  .foot__make_in_love {
    letter-spacing: 1px;
    font-size: 13px;
    color: white;
    line-height: 1.286;
    float: left;
    margin: 10px 20px;
    color: white;
    width: 30%; }
  .foot__make_in_love a {
    color: white;
    font-weight: bold; }
    .foot__make_in_love a:hover {
      color: #ed2f83; }
  .foot__logo {
    width: 120px;
    height: 60px;
    padding: 20px;
    margin: 0 auto; }
  .foot__soc {
    position: relative;
    top: -44px;
    float: right;
    color: white; }
  .foot__p {
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    position: relative;
    left: 10px; }
  .foot__li {
    display: inline-block;
    margin: 0 4px; }
  .foot__img {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #d4d4d8;
    padding: 3px;
    border-radius: 50%; }
    .foot__img:hover {
      background-color: #ed2f83; }

.pagination {
  display: inline-block;
  font-family: "Roboto";
  margin: 50px 0 76px 40%; }
  .pagination__parag {
    display: inline-block;
    font-size: 14px;
    font-family: "Roboto";
    color: #656464;
    line-height: 1.5;
    text-align: left; }
  .pagination__li {
    display: inline-block; }
  .pagination__ul {
    display: inline-block; }
  .pagination__li a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 14px;
    font-family: "Roboto";
    color: #221f1f;
    font-weight: bold;
    line-height: 1.5;
    text-align: center; }
    .pagination__li a:hover {
      color: white;
      padding: 5px;
      background-color: #27273e; }

.breadcrumbs a {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: inline-block;
  top: -200px;
  left: 200px;
  width: 70px;
  float: left;
  font-size: 14px;
  color: rgba(236, 30, 121, 0.8);
  font-style: italic;
  text-decoration: underline;
  line-height: 1.286; }

.breadcrumbs__price a {
  color: black;
  text-decoration: none; }

.breadcrumbs__home a {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: inline-block;
  top: -200px;
  left: 200px;
  width: 70px;
  float: left;
  font-size: 14px;
  color: rgba(236, 30, 121, 0.8);
  font-style: italic;
  text-decoration: underline;
  line-height: 1.286; }

.partners {
  font-family: "Montserrat", sans-serif;
  float: right;
  width: calc(1100px - 172px); }
  .partners__head {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 42px;
    margin-left: 25px;
    margin-top: -7px; }
  .partners__item {
    text-align: center;
    margin-left: -39px;
    padding-bottom: 50px;
    float: left;
    width: calc((100% - 5px) / 3);
    position: relative;
    opacity: 0.4;
    filter: alpha(opacity=50);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .partners__item:hover {
      opacity: 1;
      filter: grayscale(0); }

.comments {
  font-family: "Montserrat", sans-serif;
  margin-top: -138px;
  margin-right: -44px;
  width: 950px;
  float: right; }

.comments__h1 {
  font-weight: bold;
  font-size: 49px;
  padding-bottom: 40px;
  margin-top: -20px; }

.comments__item {
  float: left;
  padding-bottom: 70px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f5f5f5; }
  .comments__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5; }
  .comments__item .comments__img {
    padding-right: 20px;
    float: left;
    border-radius: 50%;
    transition: filter 2s ease;
    filter: blur(1px); }
    .comments__item .comments__img:hover {
      filter: none; }
  .comments__item .comments__img img {
    z-index: 1;
    border-radius: 50%; }
  .comments__item .comments__img1 {
    background: url(../img/logo-fig.png) no-repeat center center;
    height: 160px;
    width: 160px;
    background-color: #f5f5f5;
    opacity: 0.4;
    filter: grayscale(100%);
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
    border-radius: 50%;
    z-index: 9; }
  .comments__item .comments__img1 img {
    border-radius: 50%; }
  .comments__item .explain {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
    font-size: 16px; }
    .comments__item .explain__span {
      color: #656464; }
    .comments__item .explain__h3 {
      font-weight: bold; }

.discount {
  padding: 50px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.667;
  width: 100%;
  text-align: center;
  background: url(../img/comments/pattern.png) repeat-x;
  color: #fff; }
  .discount__item {
    margin: 0 auto;
    width: 740px; }

span a {
  color: #ec1e79;
  font-weight: bold;
  text-decoration: none; }

.form {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  width: 700px;
  margin: 0 auto;
  padding: 50px 70px;
  border-radius: 5px;
  margin-bottom: 90px; }
  .form__heading {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 30px; }
  .form__name {
    float: left;
    padding-bottom: 10px; }
  .form__input {
    width: 265px;
    padding: 20px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px; }
  .form__input:focus {
    border: 1px solid #ed2f83; }
  .form__profile-vk {
    float: right;
    padding-bottom: 10px; }
  .form__textarea {
    font-size: 19px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    resize: none;
    border: none; }
    .form__textarea:focus::before {
      border: none; }
    .form__textarea:focus::after {
      border-top: 1px solid #ed2f83;
      border-bottom: 1px solid #ed2f83; }
    .form__textarea__review-user {
      float: left; }
  .form .form__review-user {
    float: left; }
  .form .form__radio-group {
    float: left;
    width: 260px; }
  .form .form__group-radio:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px; }
  .form label {
    line-height: 32px; }
  .form .radio {
    display: none; }
  .form .radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #ec1e79;
    border-radius: 3px;
    position: relative; }
  .form .radio-custom,
  .form .label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }
  .form .radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: #ec1e79;
    border-radius: 2px; }
  .form .radio-custom,
  .form .radio:checked + .radio-custom::before {
    border-radius: 50%; }
  .form button {
    float: right;
    background: #27273e;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    margin-top: -40px;
    text-transform: uppercase; }
  .form button:hover,
  .form button:focus {
    color: #ec1e79; }
  .form button:active {
    background-color: white;
    color: black;
    outline: 1px solid black; }
