*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {   
	background: url(../img/intro/worcadium_bg.png) no-repeat center center fixed;   
	-webkit-background-size: cover;  
	-moz-background-size: cover;  
	-o-background-size: cover;  
	background-size: cover;
	font-size: 62.5%;  
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.intro {
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.intro__logo {
	position: relative;
	margin-bottom: 50px;
}

.intro__button {
	width: 207px;
	height: 55px;
	border: 2px solid #ed2f83;
	border-radius: 3px;
	padding: 0 4rem;
}

.intro__button:hover {
	background: #ed2f83;
}

.intro__button a{
	position: relative;
	text-decoration: none;
	color: #ed2f83;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 4.5;
}


.intro__button a:hover {
	color: white;
}
