*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.42;
}

a {
  cursor: pointer;
}

.clearfix {
  clear: both;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 41px;
  font-weight: bold;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.sidebar {
  width: 180px;
  float: left;
}

.content {
  width: 920px;
  float: right;
  padding-left: 20px;
}

.content-text {
  width: 700px;
}

.wrapper {
 min-width: 1100px;
 min-height: 100%;
 overflow: hidden;
}

.foot {
  flex: 0 0 auto;
}

.zoomIn {
  transition-delay: 3s;
}