*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

.clearfix {
    clear: both;
  }

body {
  box-sizing: border-box;
  font-family: 'GothamPro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 49px;
      font-family: "Montserrat", sans-serif;
      color: rgb(34, 31, 31);
      font-weight: bold;
      line-height: 0.776;
}

a {
  cursor: pointer;
}