.aside {
  font-family: "Montserrat", sans-serif;
    width: 160px;
    margin-bottom: 83px;
  
    &__list {
      position: relative;
      //top: -10px;
      margin: 25px;
      width: 160px;
    }
  
    &__ul_list {
      padding-top: 13px;
      padding-left: 10px;
      width: 160px;
    }
    
    img {
      color: #ed2f83; 
      //background-image: url("../../img/change_history.svg");
      width: 20px;
     height: 20px;
    }
     img:hover {
        color: black;
      }
            
  
    &__img {
      
      position: relative;
      //padding: 25px 0;
      //width: 20px;
     // height: 20px;
      top: 4px;
      left: -16px;
      //top: -10px;
  
      &:hover {
       
        color: black;
      }
    }

    &__anchor {
        //margin-left: 6px;
       
        //bottom: 5px;
        text-transform: uppercase;
        color: $color-pink;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
    
        &:hover {
          color: black;
        }
      }
    }