.discount {
    padding: 50px;
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.667;
    width: 90%;
    text-align: center;
    background: url(../img/comments/pattern.png) repeat-x;
    color: #fff;

    &__item {
        margin: 0 auto;
        width: 740px;

    }
}

span a {
        color: #ec1e79;
        font-weight: bold;
        text-decoration: none;

    }