.discount {
    padding: 50px;
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 100%;
    background: url(../img/comments/pattern.png) repeat-x;
    color: #fff;

    &__item {
        margin: 0 auto;
        width: 740px;
    }
}

span a {
        color: #ec1e79;
        font-weight: bold;
        text-decoration: none;

    }