.form {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  width: 700px;
  margin: 0 auto;
  padding: 50px 70px;
  border-radius: 5px;
  margin-bottom: 90px;

  &__heading {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &__name {
    float: left;
    padding-bottom: 10px;
  }

  &__input {
    width: 265px;
    padding: 20px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  &__input:focus {
    border: 1px solid #ed2f83;
  }

  &__profile-vk {
    float: right;
    padding-bottom: 10px;
  }

  &__textarea {
    font-size: 19px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    resize: none;
    border: none;


    &:focus::before {
      border: none;
    }

    &:focus::after {
      border-top: 1px solid #ed2f83;
      border-bottom: 1px solid #ed2f83;
    }

    &__review-user{
        float: left;
    }
  }

  .form__review-user{
    float: left;
}

  .form__radio-group {
    float: left;
    width: 260px;
  }

  .form__group-radio:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  
  label {
    line-height: 32px;
  }
  
  .radio {
    display: none;
  }
  
  .radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #ec1e79;
    border-radius: 3px;
    position: relative;
  }
  .radio-custom,
  .label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: #ec1e79;
    border-radius: 2px;
  }
  .radio-custom,
  .radio:checked + .radio-custom::before {
    border-radius: 50%;
  }
  button {
    float: right;
    background: #27273e;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    margin-top: -40px;
    text-transform: uppercase;
  }
  
  button:hover,
  button:focus {
    color: #ec1e79;
  }
  
  button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }
}