.partners {
  font-family: "Montserrat", sans-serif;
  float: right;
    width: calc(1100px - 172px);

  &__head {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 42px;
    margin-left: 25px;
    margin-top: -7px;
  }

  &__item {
    text-align: center;
    margin-left: -39px;
    padding-bottom: 50px;
    float: left;
    width: calc((100% - 5px) / 3);
    position: relative;
    opacity: 0.4;
    filter: alpha(opacity=50);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
    &:hover {
        opacity: 1;
        filter: grayscale(0);
    }
  }
}
