.price {
  font-family: "Montserrat", sans-serif;
  margin-top: 41px;
  float: left;
  width: 100%;
  margin-top: -168px;
    float: right;
    width: calc(1100px - 172px);
    //background-color: rgb(97, 93, 93);

    &__title {
      margin-left: 24px;
      margin-bottom: 30px;
      margin-top: -11px;
        font-size: 49px;
        color: rgb(34, 31, 31);
        font-weight: bold;
      }

      &__item {
        text-align: center;
        padding-bottom: 63px;
        margin-top: 13px;
        margin-left: -2px; 
        float: left;
        width: calc((100% - 5px) / 3);
        position: relative;
    }

   &__span {
     position: absolute;
     text-transform: uppercase;
     top: 46px;
     left: 154px;
     transform: translate(-51%, -53%);
      font-size: 24px;
      color: rgb(93, 209, 248);
      font-weight: bold;
      line-height: 0.875;
      text-align: center;
      z-index: 5;

      &:hover {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 3s;
      }
     
  }

    &__picter_one {
      position: absolute;
      border-radius: 3px;
        background-color: rgb(39, 39, 62);
        opacity: 0.861;
      &:hover {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 3s;
      }
    }

    &__picter_two {
      position: absolute;
      left: 31px;
      top: -28px;
      border-radius: 3px;
        background-color: rgb(39, 39, 62);
        opacity: 0.861;
      &:hover {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 3s;
      }
    }

    &__picters {
      display: block;
      margin-top: -29px;
      margin-left: 31px;
    }
    &__item-h3 {
      margin-top: 23px;
      margin-left: 8px;    
          font-size: 18px;
          font-weight: bold;
          color: rgb(34, 31, 31);
          line-height: 1.167;
          text-align: center;        
      }

    &__parag {
        margin: 10px 33px;
        width: 220px;
        font-size: 14px;
        color: rgb(34, 31, 31);
        line-height: 1.167;
        text-align: center;
      
    }
  }