* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.clearfix {
  clear: both;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
}

.header {
  width: 100vw;
  margin: 0 auto;
  //height: 7rem;
  background-color: #27273e;
  background-size: cover;
}

.banner {
  background: url(/../img/banner.png) center center no-repeat;
  margin-top: -36px;
  width: 100vw;
  height: 359px;
  background-color: #27273e;
}

.header-top {
  width: 1100px;
  height: 7rem;
  margin: 0 auto;

  &__logo {
    padding: 12px 18px;
    width: 100px;
  }

  &__phone-work {
    float: right;
    margin: -60px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  &__phone {
    color: #f5f5f5;
    font-size: 21px;
    margin-right: 10px;
  }

  &__work {
    color: #c02169;
    float: right;
    cursor: pointer;
    margin-right: 1px;
    margin-top: 5px;
    font-size: 14px;
    border-bottom: 1px solid #c02169;
    font-family: "Open sans";
    font-weight: bold;

    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}

.container {
  margin: 0 auto;
  width: 1100px;
  height: 80px;
  // background-color: #27273e;
}

.aside {
  width: 160px;

  &__list {
    position: relative;
    //top: -10px;
    margin: 28px;
    width: 160px;
  }

  &__ul_list {
    padding-top: 34px;
    padding-left: 7px;
    width: 160px;
  }

  img {
    width: 22px;
    height: 22px;
  }

  &__img {
    position: relative;
    //padding: 25px 0;
    width: 20px;
    height: 20px;
    top: 4px;
    left: -7px;
    //top: -10px;

    &:hover {
      color: black;
    }
  }

  &__anchor {
    //margin-left: 6px;
   
    //bottom: 5px;
    text-transform: uppercase;
    color: #ed2f83;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;

    &:hover {
      color: black;
    }
  }
}

.features {
  margin-top: 60px;
  float: left;
  width: 100%;

  &__title {
    position: relative;
    letter-spacing: -1px;
    top: -209px;
    left: 199px;
    font-size: 49px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 31, 31);
    font-weight: bold;
    line-height: 0.776;
  }

  &__section {
    position: relative;
    top: -158px;
    left: 200px;
    width: 796px;
    display: flex;
  }

  &__item {
    width: 260px;
    cursor: pointer;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    padding: 10px;

    &:hover {
      box-shadow: 1px 10px 40px 0px rgba(179, 173, 179, 1);
    }
  }

  &__item-img {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 50%;
    background-color: #27273e;

    &:hover {
      background-color: #ed3084;
    }
  }

  &__item-h3 {
    margin-left: -16px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: rgb(33, 33, 33);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
  }
  &__item-p {
    top: -15px;
    font-size: 18px;
    letter-spacing: -0.5px;
    margin-left: 8px;
    width: 210px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 31, 31);
    line-height: 1.667;
    text-align: center;
  }
  &__item-li {
    margin-top: 5px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    width: 11rem;
    font-size: 18px;
    color: #ec1e79;
    line-height: 1.667;
    text-align: center;
    list-style-type: circle;
  }
  &__item-li span {
    color: rgb(34, 31, 31);
  }
}

.news {
  width: 900px;
  height: 50%;

  &__title {
    position: relative;
    //bottom: 6rem;
    letter-spacing: -2px;
    top: -92px;
    left: 193px;
    font-size: 49px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 31, 31);
    font-weight: bold;
    line-height: 0.776;
    padding-bottom: 20px;
  }

  .news-section {
    top: 16px;
    margin-bottom: 60px;
    position: relative;
    left: 193px;
    float: left;
    height: 180px;
    font-family: "Roboto", sans-serif;
  }

  .news-section__pic {
    margin-top: -51px;
    bottom: 70px;
    float: left;
    border-radius: 50%;
  }

  .news-section__date {
    padding-bottom: 2px;
    padding-top: 36px;
    position: relative;
    bottom: 200px;
    left: 180px;
    //margin-bottom: 30px;
    font-size: 14px;
    color: rgb(101, 100, 100);
    line-height: 1.5;
    text-align: left;
  }

  .news-section__title-article {
    padding-bottom: 5px;
    position: relative;
    bottom: 200px;
    left: 179px;
    float: left;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    line-height: 1.5;
    text-align: left;
  }

  .news-section__some-article {
    font-size: 20px;
    width: 700px;
    position: relative;
    bottom: 200px;
    left: 180px;
    font-weight: 100;
    padding-bottom: 30px;
    border-bottom: 2px solid #f5f5f5;
    line-height: 1.5;
  }
}

.pagination {
  //display: block;
  font-family: "Roboto";
  width: 340px;
  margin: 0 auto;
  padding: 30px;

  &__parag {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(101, 100, 100);
    line-height: 1.5;
    text-align: left;
  }

  &__li {
    position: relative;
    bottom: 21px;
    left: 120px;

    display: inline-block;
  }

  &__li a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(34, 31, 31);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;

    &:hover {
      color: white;
      padding: 5px;
      background-color: #27273e;
    }
  }
}

.foot {
  position: relative;
  top: 150px;
  width: 100vw;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  background-color: #27273e;
  background-size: cover;

  &__make_in_love {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.286;
    float: left;
    margin: 20px;
    color: white;
    width: 300px;
  }

  &__make_in_love a {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;

    &:hover {
      color: #ec1e79;
    }
  }

  &__logo {
    width: 120px;
    height: 60px;
    padding: 20px;
    margin: 0 auto;
  }

  &__soc {
    position: relative;
    top: -80px;
    //margin-right: 10px;
    float: right;

    color: white;
    //display: inline-block;
  }

  &__p {
    font-family: "Montserrat", sans-serif;
    width: 200px;
    position: relative;
    left: 10px;
  }

  &__li {
    display: inline-block;
    margin: 0 3px;
  }

  &__img {
    margin-top: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #d4d4d8;
    padding: 0.5rem;
    border-radius: 50%;

    &:hover {
      background-color: #ec1e79;
    }
  }
}
